<div class="flex flex-col flex-grow">
  <div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-800">
    <h1 class="text-lg font-medium">Add Email Response</h1>
  </div>
  <div class="flex-grow p-6 overflow-auto bg-gray-800">
    <%= render 'form', calamity: @calamity, email_response: @email_response %>
    <%= link_to 'Back', calamity_email_responses_path(@calamity), class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %>
  </div>
</div>
